body{
    background-image: url(chess\ board.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 70px;
}
div{
    display:flex;
    justify-content: center;
     align-items: center;
     height: 90vh;
}
a{
    text-decoration: none;
    color:white;
}
@media  screen and (max-width:1000px) {
    body{
        display: flex;
        justify-content: center;
        height: 92vh;
        align-items: center;
        background-size:cover;
    }
}
@media  screen and (max-width:425px) {
    body{
       display:flex;
       justify-content: center;
       height: 92vh;
       align-items: center;
       background-size:cover;
    }
}